@import "tailwindcss";

@theme {
    --color-resto-primary: #f97316;
    --color-resto-secondary: #22c55e;
    --color-resto-dark: #1e293b;
    --color-resto-light: #f8fafc;
    --color-resto-gray: #94a3b8;
    --color-resto-success: #22c55e;
    --color-resto-warning: #f59e0b;
    --color-resto-danger: #ef4444;
    --color-resto-info: #3b82f6;

    --font-sans: 'Inter', sans-serif;
}